<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOP500</key>
	<dict>
		<key>URL</key>
		<array>
			<string>http://www.top500.org/system/176544</string>
			<string>http://www.top500.org/system/176819</string>
			<string>http://www.top500.org/system/177170</string>
			<string>http://www.top500.org/system/177259</string>
			<string>http://www.top500.org/system/176952</string>
			<string>http://www.top500.org/system/176928</string>
			<string>http://www.top500.org/system/176027</string>
			<string>http://www.top500.org/system/177157</string>
			<string>http://www.top500.org/system/177473</string>
			<string>http://www.top500.org/system/176321</string>
			<string>http://www.top500.org/system/177421</string>
			<string>http://www.top500.org/system/177231</string>
			<string>http://www.top500.org/system/177637</string>
			<string>http://www.top500.org/system/176322</string>
			<string>http://www.top500.org/system/176924</string>
			<string>http://www.top500.org/system/176183</string>
			<string>http://www.top500.org/system/9900</string>
			<string>http://www.top500.org/system/177725</string>
			<string>http://www.top500.org/system/177818</string>
			<string>http://www.top500.org/system/177563</string>
			<string>http://www.top500.org/system/177563</string>
			<string>http://www.top500.org/system/177561</string>
			<string>http://www.top500.org/system/177817</string>
			<string>http://www.top500.org/system/177454</string>
			<string>http://www.top500.org/system/177232</string>
			<string>http://www.top500.org/system/177453</string>
			<string>http://www.top500.org/system/177449</string>
			<string>http://www.top500.org/system/177447</string>
			<string>http://www.top500.org/system/177448</string>
			<string>http://www.top500.org/system/177469</string>
			<string>http://www.top500.org/system/176929</string>
			<string>http://www.top500.org/system/177792</string>
			<string>http://www.top500.org/system/176929</string>
		</array>
		<key>Name</key>
		<array>
			<string>#6 - Jaguar - GREEN132</string>
			<string>#10 - Nebulae - GREEN103</string>
			<string>#15 - Cielo - GREEN177</string>
			<string>#11 - Pleiades - GREEN168</string>
			<string>#16 - Hopper - GREEN146</string>
			<string>#17 - Tera100 - GREEN201</string>
			<string>#19 - Roadrunner - GREEN110</string>
			<string>#21 - Kraken - GREEN172</string>
			<string>#24 - Hermit - GREEN146</string>
			<string>#25 - Jugene - GREEN144</string>
			<string>#22 - Lomonosov - GREEN166</string>
			<string>#32 - HECToR - GREEN146</string>
			<string>#33 - Gaea C2 - GREEN96</string>
			<string>#38 - Intrepid - GREEN145</string>
			<string>#39 - Red Sky - GREEN405</string>
			<string>#40 - Ranger - GREEN210</string>
			<string>#42 - Dawn - GREEN138</string>
			<string>#23 DARPA Trial Subset - GREEN142</string>
			<string>#9 Curie Thin nodes - GREEN93</string>
			<string>#34 Power 775 - GREEN140</string>
			<string>#35 Power 775 - GREEN141</string>
			<string>#43 Power 775 - GREEN139</string>
			<string>#44 SGI Altix X - GREEN74</string>
			<string>#47 - Luna - GREEN71</string>
			<string>#2 - K Computer - GREEN61</string>
			<string>#45 - Bull B. SC II - GREEN66</string>
			<string>#12 - Helios - GREEN99</string>
			<string>#26 - Sunway BL - GREEN73</string>
			<string>#28 - Tianhe-1A Hunan - GR82</string>
			<string>#27 - Zin - GREEN60</string>
			<string>#5 - Tianhe-1A - GREEN88</string>
			<string>#46 Cab - GREEN173</string>
			<string>#44 SGI Altix X - GREEN74</string>
		</array>
		<key>Longitude</key>
		<array>
			<string>-84.3096</string>
			<string>114.0578</string>
			<string>-106.2508</string>
			<string>-122.0637</string>
			<string>-122.2555</string>
			<string>2.134078</string>
			<string>-106.25086</string>
			<string>-83.933834</string>
			<string>9.1807</string>
			<string>6.40000</string>
			<string>37.6176</string>
			<string>-3.1760</string>
			<string>-84.31078</string>
			<string>-87.9609</string>
			<string>-106.534165</string>
			<string>-97.733523</string>
			<string>-121.7098</string>
			<string>-77.10923</string>
			<string>2.192499</string>
			<string>-0.96825</string>
			<string>-0.95824</string>
			<string>-0.74527</string>
			<string>10.40233</string>
			<string>-106.2512</string>
			<string>139.6125</string>
			<string>-0.607129</string>
			<string>141.3745</string>
			<string>116.9949</string>
			<string>112.9388</string>
			<string>-121.7104</string>
			<string>117.2009</string>
			<string>-121.70017</string>
			<string>10.40233</string>
		</array>
		<key>Organization</key>
		<array>
			<string>DOE/SC/Oak Ridge National Laboratory</string>
			<string>National Supercomputing Centre in Shenzhen (NSCS)</string>
			<string>DOE/NNSA/LANL/SNL</string>
			<string>NASA/Ames Research Center/NAS</string>
			<string>DOE/SC/LBNL/NERSC</string>
			<string>Commissariat à l&apos;Energie Atomique (CEA)</string>
			<string>DOE/NNSA/LANL</string>
			<string>NICS/University of Tennessee</string>
			<string>HWW/Universitaet Stuttgart</string>
			<string>Forschungszentrum Juelich (FZJ)</string>
			<string>Moscow State University - Research Computing Center</string>
			<string>University of Edinburgh</string>
			<string>NOAA/Oak Ridge National Laboratory</string>
			<string>DOE/SC/Argonne National Laboratory</string>
			<string>SNL/National Renewable Energy Laboratory</string>
			<string>Texas Advanced Computing Center/Univ. of Texas</string>
			<string>DOE/NNSA/LLNL</string>
			<string>IBM Development Engineering </string>
			<string>CEA/TG CC-GENCI</string>
			<string>ECMWF</string>
			<string>ECMWF</string>
			<string>UK Meteorological Office</string>
			<string>Norwegian University of Science and Technology</string>
			<string>Los Alamos National Laboratory</string>
			<string>RIKEN Advanced Institute for Computational Science (AICS)</string>
			<string>Bull</string>
			<string>International Fusion Energy Research Centre (IFERC), EU(F4E) - Japan Broader Approach collaboration</string>
			<string>National Supercomputing Center in Jinan</string>
			<string>National Supercomputing Center in Changsha</string>
			<string>Lawrence Livermore National Laboratory</string>
			<string>National Supercomputing Center in Tianjin</string>
			<string>Lawrence Livermore National Laboratory</string>
			<string>Norwegian University of Science and Technology</string>
		</array>
		<key>Latitude</key>
		<array>
			<string>35.945678</string>
			<string>22.5430</string>
			<string>35.8335</string>
			<string>37.4198</string>
			<string>37.8755</string>
			<string>48.7018</string>
			<string>35.833359</string>
			<string>35.9539</string>
			<string>48.7771</string>
			<string>50.907033</string>
			<string>55.7557</string>
			<string>55.9215</string>
			<string>35.931702</string>
			<string>41.7106</string>
			<string>35.055293</string>
			<string>30.2850</string>
			<string>37.6890</string>
			<string>38.87898</string>
			<string>48.593388</string>
			<string>51.42990</string>
			<string>51.41259</string>
			<string>51.41706</string>
			<string>63.41810</string>
			<string>35.8329</string>
			<string>35.7803</string>
			<string>47.472893</string>
			<string>40.9673</string>
			<string>36.6652</string>
			<string>28.2282</string>
			<string>37.6888</string>
			<string>39.0841</string>
			<string>37.68808</string>
			<string>63.41810</string>
		</array>
	</dict>
	<key>GR500_new</key>
	<dict>
		<key>URL</key>
		<array>
			<string>http://www.top500.org/system/177556</string>
			<string>http://www.top500.org/system/177718</string>
			<string>http://www.top500.org/system/177719</string>
			<string>http://www.top500.org/system/177722</string>
			<string>http://www.top500.org/system/177723</string>
			<string>http://www.top500.org/system/177789</string>
			<string>http://www.top500.org/system/177726</string>
			<string>http://www.top500.org/system/177729</string>
			<string>http://www.top500.org/system/177731</string>
			<string>http://www.top500.org/system/177791</string>
			<string>http://www.top500.org/system/177732</string>
			<string>http://www.top500.org/system/177757</string>
			<string>http://www.top500.org/system/177758</string>
		</array>
		<key>Name</key>
		<array>
			<string>#1 Sequoia - GREEN20</string>
			<string>#3 Mira - GREEN19</string>
			<string>#4 SuperMUC - GREEN40</string>
			<string>#8 JuQueen - GREEN10</string>
			<string>#13 Blue Joule - GREEN9</string>
			<string>#18 Oakleaf-FX - GREEN44</string>
			<string>#29 Zumbrota - GREEN13</string>
			<string>#31 Avoca - GREEN15</string>
			<string>#36 SAKURA - BG/Q - GREEN12</string>
			<string>#41 HA-PACS - GREEN25</string>
			<string>#48 Vulcan - GREEN18</string>
			<string>#49 BG/Q - GREEN16</string>
			<string>#50 BG/Q - GREEN17</string>
		</array>
		<key>Longitude</key>
		<array>
			<string>-121.71</string>
			<string>-87.9609</string>
			<string>11.67125</string>
			<string>6.4000</string>
			<string>-2.63544</string>
			<string>139.76244</string>
			<string>2.16010</string>
			<string>144.96282</string>
			<string>140.07437</string>
			<string>140.07664</string>
			<string>-121.7200</string>
			<string>-92.499292</string>
			<string>-92.499292</string>
		</array>
		<key>Organization</key>
		<array>
			<string>Lawrence Livermore National Laboratory</string>
			<string>DOE/SC/Argone National Laboratory</string>
			<string>Leibniz - Reichenzentrum (LRZ)</string>
			<string>Forschungszentrum Julich (FZJ) </string>
			<string>STFC/Daresbury Laboratory</string>
			<string>ITC/The University of Tokyo</string>
			<string>EDF R&amp;D</string>
			<string>Victorian Life Science Computation Initiative</string>
			<string>KEK/High Energy Accelerator Research Organization </string>
			<string>CCS/University of Tsukuba </string>
			<string>DOE/NNSA/LLNL</string>
			<string>IBM Rochester</string>
			<string>IBM Rochester</string>
		</array>
		<key>Latitude</key>
		<array>
			<string>37.68808</string>
			<string>41.7106</string>
			<string>48.26503</string>
			<string>50.907033</string>
			<string>53.34402</string>
			<string>35.71340</string>
			<string>48.89639</string>
			<string>-37.80037</string>
			<string>36.14954</string>
			<string>36.08349</string>
			<string>37.7010</string>
			<string>44.061673</string>
			<string>44.061673</string>
		</array>
	</dict>
	<key>GREEN500</key>
	<dict>
		<key>URL</key>
		<array>
			<string>http://www.top500.org/system/177558</string>
			<string>http://www.top500.org/system/177443</string>
			<string>http://www.top500.org/system/177557</string>
			<string>http://www.top500.org/system/177556</string>
			<string>http://www.top500.org/system/177416</string>
			<string>http://www.top500.org/system/177430</string>
			<string>http://www.top500.org/system/177465</string>
			<string>http://www.top500.org/system/176899</string>
			<string>http://www.top500.org/system/176927</string>
			<string>http://www.top500.org/system/177463</string>
			<string>http://www.top500.org/site/47935</string>
			<string>http://www.top500.org/system/177417</string>
			<string>http://www.top500.org/system/177621</string>
			<string>http://www.top500.org/system/177001</string>
		</array>
		<key>Organization</key>
		<array>
			<string>IBM - Rochester</string>
			<string>IBM Thomas J. Watson Research Center</string>
			<string>IBM - Rochester</string>
			<string>DOE/NNSA/LLNL</string>
			<string>IBM Thomas J. Watson Research Center</string>
			<string>Nagasaki University</string>
			<string>Barcelona Supercomputing Center</string>
			<string>Institute of Process Engineering, Chinese Academy of Sciences</string>
			<string>GSIC Center, Tokyo Institute of Technology</string>
			<string>Virginia Tech</string>
			<string>Georgia Institute of Technology</string>
			<string>CINECA / SCS - SuperComputing Solution</string>
			<string>Forschungszentrum Juelich (FZJ)</string>
			<string>CSIRO</string>
		</array>
		<key>Name</key>
		<array>
			<string>#49 - BlueGene/Q - GREEN16</string>
			<string>#101 - BlueGene/Q - GREEN7</string>
			<string>#50 - BlueGene/Q - GREEN17</string>
			<string>#20 - DIRAC - BlueGene/Q - GREEN8</string>
			<string>#253 - BG/Q - GREEN2</string>
			<string>#456 - DEGIMA - GREEN23</string>
			<string>#177 - Bullx B505 - GREEN24</string>
			<string>#37 - Mole-8.5 - GREEN38</string>
			<string>#14 - TSUBAME 2.0 - GREEN29 </string>
			<string>#147 - HokieSpeed - GREEN30</string>
			<string>#172 - Keeneland - GREEN41</string>
			<string>#87 - iDataPlex - GREEN42</string>
			<string>#157 - iDataPlex - GREEN43</string>
			<string>#156 - GPU Cluster - GREEN28</string>
		</array>
		<key>Latitude</key>
		<array>
			<string>44.061673</string>
			<string>41.1497</string>
			<string>44.06100</string>
			<string>37.6896</string>
			<string>41.1480</string>
			<string>32.7857</string>
			<string>41.3879</string>
			<string>39.8711</string>
			<string>35.6894</string>
			<string>37.2243</string>
			<string>33.7791</string>
			<string>44.4941</string>
			<string>50.908044</string>
			<string>-35.21868</string>
		</array>
		<key>Longitude</key>
		<array>
			<string>-92.499292</string>
			<string>-73.9846</string>
			<string>-92.49800</string>
			<string>-121.7098</string>
			<string>-73.9846</string>
			<string>129.8664</string>
			<string>2.1699</string>
			<string>116.4775</string>
			<string>139.6917</string>
			<string>-80.4270</string>
			<string>-84.3996</string>
			<string>11.3465</string>
			<string>6.4081</string>
			<string>149.123862</string>
		</array>
	</dict>
	<key>GREEN500_new</key>
	<dict>
		<key>URL</key>
		<array>
			<string>http://www.top500.org/system/177737</string>
			<string>http://www.top500.org/system/177734</string>
			<string>http://www.top500.org/system/177733</string>
			<string>http://www.top500.org/system/177735</string>
			<string>http://www.top500.org/system/177736</string>
			<string>http://www.top500.org/system/177728</string>
			<string>http://www.top500.org/system/177816</string>
			<string>http://www.top500.org/system/177799</string>
			<string>http://www.top500.org/system/177464</string>
			<string>http://www.top500.org/system/177746</string>
			<string>http://www.top500.org/system/177749</string>
			<string>http://www.top500.org/system/177742</string>
			<string>http://www.top500.org/system/177745</string>
			<string>http://www.top500.org/system/177743</string>
			<string>http://www.top500.org/system/177741</string>
			<string>http://www.top500.org/system/177748</string>
			<string>http://www.top500.org/system/177720</string>
		</array>
		<key>Organization</key>
		<array>
			<string>DOE/NNSA/LLNL</string>
			<string>DOE/SC/ANL</string>
			<string>DOE/SC/ANL</string>
			<string>Rensslaer Polytechnic Institute</string>
			<string>University of Rochester</string>
			<string>IDRIS/GENCI</string>
			<string>Intel</string>
			<string>LANL</string>
			<string>CEA/TGCC-GENCI</string>
			<string>Indian Institute of Technology, Madras</string>
			<string>University of Chicago</string>
			<string>Centro Euro-Mediterraneo per i Cambiamenti Climatici</string>
			<string>Durham University</string>
			<string>STFC/Daresbury Laboratory</string>
			<string>Max-Planck-Gesellschaft MPI/IPP</string>
			<string>Universidad de Cantabria - SSC</string>
			<string>CINECA</string>
		</array>
		<key>Name</key>
		<array>
			<string>#252 rzuseq - BG/Q #GREEN1</string>
			<string>#99 Vesta - BG/Q #GREEN3</string>
			<string>#100 Cetus - BG/Q #GREEN4</string>
			<string>#102 BG/Q - GREEN5</string>
			<string>#103 BG/Q - GREEN6</string>
			<string>#30 BG/Q - GREEN14</string>
			<string>#150 Discovery - GREEN22</string>
			<string>#74 Moonlight - GREEN26</string>
			<string>#162 Curie Hybrid - GREEN27</string>
			<string>#224 Virgo - GREEN33</string>
			<string>#416 iDataPlex - GREEN31</string>
			<string>#121 iDataPlex - GREEN32 </string>
			<string>#134 iDataPlex - GREEN35</string>
			<string>#114 Blue Wonder - GREEN36</string>
			<string>#?? iDataPlex - GREEN39</string>
			<string>#358 ALTAMIRA - GREEN37</string>
			<string>#7 FERMI - GREEN11</string>
		</array>
		<key>Latitude</key>
		<array>
			<string>37.6500</string>
			<string>41.7106</string>
			<string>41.7106</string>
			<string>42.72988</string>
			<string>43.12863</string>
			<string>48.70728</string>
			<string>47.13</string>
			<string>35.8333</string>
			<string>48.593388</string>
			<string>12.99116</string>
			<string>41.79046</string>
			<string>44.50903</string>
			<string>54.77257</string>
			<string>53.34402</string>
			<string>52.44648</string>
			<string>43.47136</string>
			<string>44.4941</string>
		</array>
		<key>Longitude</key>
		<array>
			<string>-121.7200</string>
			<string>-87.9609</string>
			<string>-87.9609</string>
			<string>-73.67674</string>
			<string>-77.62787</string>
			<string>2.17584</string>
			<string>-122.6300</string>
			<string>-106.2508</string>
			<string>2.192499</string>
			<string>80.23631</string>
			<string>-87.60254</string>
			<string>11.36242</string>
			<string>-1.57664</string>
			<string>-2.63544</string>
			<string>13.27839</string>
			<string>-3.80144</string>
			<string>11.3465</string>
		</array>
	</dict>
	<key>BLACK500</key>
	<dict>
		<key>URL</key>
		<array>
			<string>http://www.top500.org/system/176955</string>
			<string>http://www.top500.org/system/176957</string>
			<string>http://www.top500.org/system/176956</string>
			<string>http://www.top500.org/system/176725</string>
			<string>http://www.top500.org/system/176953</string>
			<string>http://www.top500.org/system/176488</string>
			<string>http://www.top500.org/system/176727</string>
			<string>http://www.top500.org/system/177155</string>
			<string>http://www.top500.org/system/177415</string>
			<string>http://www.top500.org/system/177476</string>
			<string>http://www.top500.org/system/176897</string>
			<string>http://www.top500.org/system/177456</string>
			<string>http://www.top500.org/system/177156</string>
			<string>http://www.top500.org/system/176962</string>
			<string>http://www.top500.org/system/176710</string>
			<string>http://www.top500.org/system/177475</string>
			<string>http://www.top500.org/system/177468</string>
		</array>
		<key>Name</key>
		<array>
			<string>#53 - Raptor - GREEN333</string>
			<string>#55 - Haedam - GREEN239</string>
			<string>#56 - Haeon - GREEN240</string>
			<string>#57 - Monte Rosa - GREEN126</string>
			<string>#60 - Cray XE6 - GREEN306</string>
			<string>#63 - JUROPA - GREEN275</string>
			<string>#64 - Tachyonll - GREEN178</string>
			<string>#67 - Lonestar 4 - GREEN326</string>
			<string>#69 - HP POD - GREEN346</string>
			<string>#71 - Rackable - GREEN63</string>
			<string>#75 - Jade - GREEN169</string>
			<string>#77 - Mustang - GREEN99</string>
			<string>#78 - RCC - GREEN325</string>
			<string>#79 - Tup - GREEN334</string>
			<string>#82 - Red Storm - GREEN424</string>
			<string>#233 - Rackable - GREEN78</string>
			<string>#232 - Formosa 5 - GREEN62</string>
		</array>
		<key>Longitude</key>
		<array>
			<string>-84.0494</string>
			<string>126.9789</string>
			<string>126.9779</string>
			<string>8.9199</string>
			<string>-106.2508</string>
			<string>6.4081</string>
			<string>126.986054</string>
			<string>-97.7335</string>
			<string>1.372536</string>
			<string>-71.8837</string>
			<string>2.30144</string>
			<string>-106.2508</string>
			<string>6.0781</string>
			<string>-44.9972</string>
			<string>-106.53500</string>
			<string>16.9251</string>
			<string>121.005915</string>
		</array>
		<key>Organization</key>
		<array>
			<string>Air Force Research Laboratory - ARFL DSRC</string>
			<string>Korea Meteorological Administration</string>
			<string>Korea Meteorological Administration</string>
			<string>Swiss Scientific Computing Center (CSCS)</string>
			<string>Government</string>
			<string>Forschungszentrum Juelich (FZJ)</string>
			<string>KISTI Supercomputing Center</string>
			<string>Texas Advanced Computing Center/Univ. of Texas</string>
			<string>Airbus</string>
			<string>Calcul Canada/Calcul Québec/Université de Sherbrooke</string>
			<string>GENCI / CINES</string>
			<string>Los Alamos National Laboratory</string>
			<string>Universitaet Aachen/RWTH</string>
			<string>INPE (National Institute for Space Research)</string>
			<string>Sandia National Laboratories</string>
			<string>Poznan Supercomputing and Networking Center, Institute of Bioorganic Chemistry</string>
			<string>National Center for High Performance Computing</string>
		</array>
		<key>Latitude</key>
		<array>
			<string>39.8230</string>
			<string>37.5659</string>
			<string>37.5665</string>
			<string>46.0291</string>
			<string>35.8333</string>
			<string>50.9075</string>
			<string>37.573733</string>
			<string>30.2850</string>
			<string>43.6088</string>
			<string>45.4004</string>
			<string>48.836312</string>
			<string>35.8333</string>
			<string>50.7777</string>
			<string>-22.6737</string>
			<string>35.0844</string>
			<string>52.4063</string>
			<string>24.781646</string>
		</array>
	</dict>
	<key>BLACK500_2</key>
	<dict>
		<key>URL</key>
		<array>
			<string>http://www.top500.org/system/177464</string>
			<string>http://www.top500.org/system/177459</string>
			<string>http://www.top500.org/system/177455</string>
			<string>http://www.top500.org/system/176903</string>
			<string>http://www.top500.org/system/177478</string>
			<string>http://www.top500.org/system/177431</string>
			<string>http://www.top500.org/system/177154</string>
			<string>http://www.top500.org/system/177409</string>
			<string>http://www.top500.org/system/177457</string>
			<string>http://www.top500.org/system/177163</string>
			<string>http://www.top500.org/system/177148</string>
			<string>http://www.top500.org/system/176908</string>
		</array>
		<key>Organization</key>
		<array>
			<string>TGCC (CEA) / GENCI</string>
			<string>Sandia National Laboratories</string>
			<string>UCSD/San Diego Supercomputer Center</string>
			<string>TGCC (CEA) / GENCI</string>
			<string>Purdue University</string>
			<string>University of California, Los Angeles</string>
			<string>Universitaet Frankfurt</string>
			<string>KTH - Royal Institute of Technology</string>
			<string>Amazon Web Services</string>
			<string>National Institute for Environmental Studies</string>
			<string>Lawrence Livermore National Laboratory</string>
			<string>Intel</string>
		</array>
		<key>Name</key>
		<array>
			<string>#115 - Tera-100 Hybrid - Bullx B505 - GREEN92</string>
			<string>#54 - Chama - GREEN77</string>
			<string>#62 - Gordon - GREEN68</string>
			<string>#168 - Titane - GREEN201</string>
			<string>#88 - Carter - GREEN72</string>
			<string>#384 - Dawson2 - GREEN76</string>
			<string>#59 - LOEWE-CSC - GREEN78</string>
			<string>#76 - Lindgren - GREEN84</string>
			<string>#72- Amazon EC2 - GREEN85</string>
			<string>#342 - GOSAT - GREEN87</string>
			<string>#184 - Edge - GREEN90</string>
			<string>#165 - Endeavor - GREEN91</string>
		</array>
		<key>Latitude</key>
		<array>
			<string>48.593388</string>
			<string>35.0810</string>
			<string>32.8842</string>
			<string>48.594444</string>
			<string>40.4143</string>
			<string>34.0687</string>
			<string>50.1183</string>
			<string>59.3519</string>
			<string>47.592551</string>
			<string>35.683513</string>
			<string>37.6899</string>
			<string>47.111554</string>
		</array>
		<key>Longitude</key>
		<array>
			<string>2.192499</string>
			<string>-106.535133</string>
			<string>-117.2399</string>
			<string>2.191111</string>
			<string>-86.9352</string>
			<string>-118.4449</string>
			<string>8.6523</string>
			<string>18.069</string>
			<string>-122.315978</string>
			<string>139.559584</string>
			<string>-121.7111</string>
			<string>-122.6336</string>
		</array>
	</dict>
</dict>
</plist>
