<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Question</key>
		<string>What was the name of the first supercomputer ?</string>
		<key>Answers</key>
		<array>
			<string>CDC 6600</string>
			<string>Bull</string>
			<string>Univac</string>
			<string>DataPlex</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>When was the first supercomputer released ?</string>
		<key>Answers</key>
		<array>
			<string>1956</string>
			<string>1964</string>
			<string>1976</string>
			<string>1981</string>
		</array>
		<key>Correct</key>
		<string>B</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Where was the first supercomputer built ?</string>
		<key>Answers</key>
		<array>
			<string>France</string>
			<string>Spain</string>
			<string>USA</string>
			<string>Japan</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Who designed the first supercomputer ?</string>
		<key>Answers</key>
		<array>
			<string>Seymour IBM</string>
			<string>Seymour Cray</string>
			<string>Seymour Bull</string>
			<string>Seymour Intel</string>
		</array>
		<key>Correct</key>
		<string>B</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>10</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Serial vs parallel calculations: How much power per operation may a CPU consume compared to a GPU (latest technologies) ?</string>
		<key>Answers</key>
		<array>
			<string>7 times more</string>
			<string>7 times less</string>
			<string>70 times more</string>
			<string>70 times less</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    
   
    
	<dict>
		<key>Question</key>
		<string>Which company marketed &quot;the world&apos;s first GPU&quot; in 1999 ?</string>
		<key>Answers</key>
		<array>
			<string>Intel</string>
			<string>IBM</string>
			<string>NVIDIA</string>
			<string>AMD</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>The name of the new Intel chip (MIC) built to leverage parallel computing is:</string>
		<key>Answers</key>
		<array>
			<string>Intel CPU</string>
			<string>Intel GPU</string>
			<string>Xeon E5</string>
			<string>Xeon Phi</string>
		</array>
		<key>Correct</key>
		<string>D</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>

	<dict>
		<key>Question</key>
		<string>Which ones of the following supercomputers use GPUs ?</string>
		<key>Answers</key>
		<array>
			<string>Titan, USA</string>
			<string>K Computer, Japan</string>
			<string>Tianhe-1A, China</string>
			<string>Kraken, USA</string>
		</array>
		<key>Correct</key>
		<string>AC</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>What kind of chips does the #3 most powerful supercomputer in the world (K computer) contain ?</string>
		<key>Answers</key>
		<array>
			<string>CPUs+GPUs</string>
			<string>CPUs+MICs</string>
			<string>CPUs only</string>
			<string>GPUs only</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>In autumn 2012, which supercomputer, renamed Titan, has been upgraded with GPUs ?</string>
		<key>Answers</key>
		<array>
			<string>K Computer, Japan</string>
			<string>Jaguar, USA</string>
			<string>Kraken, USA</string>
			<string>Tianhe-1A, China</string>
		</array>
		<key>Correct</key>
		<string>B</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    
    <dict>
		<key>Question</key>
		<string>The name of the NVIDIA exascale supercomputer that should be released by 2018 is ..</string>
		<key>Answers</key>
		<array>
			<string>Achille</string>
			<string>Echelle</string>
			<string>Echelon</string>
			<string>Achete</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>

    
	<dict>
		<key>Question</key>
		<string>In Spain, the Barcelona supercomputing center recently developped a hybrid architecture: GPU + ..</string>
		<key>Answers</key>
		<array>
			<string>Smartphone chip</string>
			<string>CPU</string>
			<string>MIC</string>
			<string>GPU</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Researchers have recently built computer chips that use .. instead of electricity (electrons) to transmit the information.</string>
		<key>Answers</key>
		<array>
			<string>Light</string>
			<string>Photons</string>
			<string>Water</string>
			<string>Air</string>
		</array>
		<key>Correct</key>
		<string>AB</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Which country recently developed its first computer chip, named ShenWei ?</string>
		<key>Answers</key>
		<array>
			<string>Japan</string>
			<string>Australia</string>
			<string>China</string>
			<string>Brazil</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Which chinese supercomputer uses ShenWei processors ? </string>
		<key>Answers</key>
		<array>
			<string>Tianhe-1A</string>
			<string>Nebulae</string>
			<string>Sunway Blue Light</string>
			<string>Mole-8.5</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Which language(s) can be used to develop on GPUs ?</string>
		<key>Answers</key>
		<array>
			<string>CUDA</string>
			<string>OpenACC</string>
			<string>C/C++</string>
			<string>Fortran</string>
		</array>
		<key>Correct</key>
		<string>AB</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>In what year the world&apos;s first hacker ruined a public demonstration of a wireless telegraph by sending Morse code insults via wire ?</string>
		<key>Answers</key>
		<array>
			<string>1789</string>
			<string>1804</string>
			<string>1903</string>
			<string>1945</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>The telegraph hacker was known as a ..</string>
		<key>Answers</key>
		<array>
			<string>civil engineer</string>
			<string>cook</string>
			<string>school teacher</string>
			<string>magician</string>
		</array>
		<key>Correct</key>
		<string>D</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>The Koomey’s Law says that the amount of power needed to perform a computing task falls by half every ..</string>
		<key>Answers</key>
		<array>
			<string>1.5 months</string>
			<string>1.5 years</string>
			<string>2.5 months</string>
			<string>2.5 years</string>
		</array>
		<key>Correct</key>
		<string>B</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>The power that a supercomputer needs is similar to the power needed by a ..</string>
		<key>Answers</key>
		<array>
			<string>high-speed train</string>
			<string>plane</string>
			<string>ship</string>
			<string>car</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>How much power does that (roughly) correspond to ?</string>
		<key>Answers</key>
		<array>
			<string>7 MW</string>
			<string>14 MW</string>
			<string>21 MW</string>
			<string>28 MW</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>How much power Titan, the new GPU-based supercomputer roughly uses ?</string>
		<key>Answers</key>
		<array>
			<string>7 MW</string>
			<string>8 MW</string>
			<string>9 MW</string>
			<string>10 MW</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>15</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>UK lab has recently developped a water-soluble circuit board that dissolves into hot water.</string>
		<key>Answers</key>
		<array>
			<string>True</string>
			<string>False</string>
			<string></string>
			<string></string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>This study will help on producing recyclable ... devices.</string>
		<key>Answers</key>
		<array>
			<string>Wood</string>
			<string>Plastic</string>
			<string>Electronic</string>
			<string>Concrete</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Supercomputers can be used to predict:</string>
		<key>Answers</key>
		<array>
			<string>Weather changes</string>
			<string>How flu spreads</string>
			<string>The movies I like</string>
			<string>Traffic jams</string>
		</array>
		<key>Correct</key>
		<string>ABCD</string>
		<key>Class</key>
		<integer>0</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Supercomputers can also be used to simulate:</string>
		<key>Answers</key>
		<array>
			<string>The human brain</string>
			<string>The heart</string>
			<string>Auroras</string>
			<string>The Universe</string>
		</array>
		<key>Correct</key>
		<string>ABCD</string>
		<key>Class</key>
		<integer>0</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Which is the #1 most powerful supercomputer in the world?</string>
		<key>Answers</key>
		<array>
			<string>Titan, USA</string>
			<string>K Computer, Japan</string>
			<string>Tsanhe-1A, China</string>
			<string>Sequoia, BG/Q, USA</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>5</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Titan supercomputer is used to simulate:</string>
		<key>Answers</key>
		<array>
			<string>The Human Skin</string>
			<string>Biofuels</string>
			<string>Seismic Hazards</string>
			<string>The Climate</string>
		</array>
		<key>Correct</key>
		<string>ABCD</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Which is the #2 most powerful supercomputer in the world?</string>
		<key>Answers</key>
		<array>
			<string>Jaguar, USA</string>
			<string>K Computer, Japan</string>
			<string>Tianhe-1A, China</string>
			<string>Sequoia, BG/Q, USA</string>
		</array>
		<key>Correct</key>
		<string>D</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Sequoia supercomputer was used to simulate :</string>
		<key>Answers</key>
		<array>
			<string>Millions of neurones</string>
			<string>The heart beat</string>
			<string>Artic ice formation</string>
			<string>The cosmic shield</string>
		</array>
		<key>Correct</key>
		<string>AB</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>By 2023, supercomputers are expected to be able to simulate a complete ..</string>
		<key>Answers</key>
		<array>
			<string>rat brain</string>
			<string>dog brain</string>
			<string>human brain</string>
			<string>ET brain</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>

	<dict>
		<key>Question</key>
		<string>Where are located the #1 and #2 most powerful Supercomputers in the world?</string>
		<key>Answers</key>
		<array>
			<string>China</string>
			<string>Japan</string>
			<string>USA</string>
			<string>France</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>Where is located the K Computer, #3 most powerful supercomputer in the world ? </string>
		<key>Answers</key>
		<array>
			<string>Japan</string>
			<string>USA</string>
			<string>Germany</string>
			<string>France</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>

   	<dict>
		<key>Question</key>
		<string>Which of the following energy sources could be used to power the battery of your cell phones ?</string>
		<key>Answers</key>
		<array>
			<string>Solar panels</string>
			<string>Human movements</string>
			<string>Hydrogen cells</string>
			<string>Biogas cells</string>
		</array>
		<key>Correct</key>
		<string>ABCD</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Which projects use distributed computers that communicate through the network to resolve scientific questions ?</string>
		<key>Answers</key>
		<array>
			<string>SETI@HOME</string>
			<string>Folding@HOME</string>
			<string>Docking@HOME</string>
			<string>Africa@HOME</string>
		</array>
		<key>Correct</key>
		<string>ABCD</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Which platform is known as the social supecomputing platform for providing ready-to-use programs that would answer a single question ?</string>
		<key>Answers</key>
		<array>
			<string>Opani</string>
			<string>CharityEngine</string>
			<string>Amazing EC2</string>
			<string>Jaguar</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>Individuals can pay for using computing resources from .. platforms in order to launch their own computer simulations.</string>
		<key>Answers</key>
		<array>
			<string>Amazon EC2 Cluster</string>
			<string>Opani</string>
			<string>CharityEngine</string>
			<string>Jaguar</string>
		</array>
		<key>Correct</key>
		<string>ABC</string>
		<key>Class</key>
		<integer>1</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>

	<dict>
		<key>Question</key>
		<string>NIF uses 192 laser beams to generate &quot;temperatures of more than ... million degrees and pressures more than ... billion times Earth&apos;s atmosphere&quot;.</string>
		<key>Answers</key>
		<array>
			<string>10</string>
			<string>20</string>
			<string>50</string>
			<string>100</string>
		</array>
		<key>Correct</key>
		<string>D</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>This research is used to better understand the physics of ... and how the ... &quot;works&quot;.</string>
		<key>Answers</key>
		<array>
			<string>Nuclear weapons</string>
			<string>Universe</string>
			<string>Ocean</string>
			<string>Earth</string>
		</array>
		<key>Correct</key>
		<string>AB</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>SuperMuc, Europe&apos;s #2 and World&apos;s #6 supercomputer is cooled with pipelines of :&apos;</string>
		<key>Answers</key>
		<array>
			<string>Cold Water</string>
			<string>Hot Water</string>
			<string>Cold Air</string>
			<string>Hot Air</string>
		</array>
		<key>Correct</key>
		<string>B</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>This is (A or B) times more effcient than air cooling and can help to save (C or D) million euro per year</string>
		<key>Answers</key>
		<array>
			<string>400</string>
			<string>4000</string>
			<string>0.5</string>
			<string>1</string>
		</array>
		<key>Correct</key>
		<string>BD</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>Recent findings says that biogas-powered cells would allow to pump up to .. to power computational resources</string>
		<key>Answers</key>
		<array>
			<string>5 MW</string>
			<string>10 MW</string>
			<string>50 MW</string>
			<string>150 MW</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>2</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
   	
    <dict>
		<key>Question</key>
		<string>The official list that ranks the world&apos;s most powerful supercomputers according to their data crunching capabilities is named:</string>
		<key>Answers</key>
		<array>
			<string>GRAPH1000</string>
			<string>GRAPH500</string>
			<string>GRAPH100</string>
			<string>GRAPH50</string>
		</array>
		<key>Correct</key>
		<string>B</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>The official list that ranks the world&apos;s most powerful supercomputers according to their arithmetic performance (flops) is named:</string>
		<key>Answers</key>
		<array>
			<string>T0P10</string>
			<string>TOP100</string>
			<string>TOP500</string>
			<string>TOP1000</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>The official list that ranks the world&apos;s most powerful supercomputers according to their energy-effiency (flops/watt) is named:</string>
		<key>Answers</key>
		<array>
			<string>GREEN1000</string>
			<string>GREEN500</string>
			<string>GREEN100</string>
			<string>GREEN50</string>
		</array>
		<key>Correct</key>
		<string>B</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>The name of logarithmic scale that combines Green500+Top500 to look at &quot;performance vs energy efficiency&quot; through a single scalar:</string>
		<key>Answers</key>
		<array>
			<string>Exascalar</string>
			<string>Petascalar</string>
			<string>Terascalar</string>
			<string>Bugscalar</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>The goal of Exascalar is to see if current computing systems are on the right track to produce 1 Exaflops by 2020 within ..</string>
		<key>Answers</key>
		<array>
			<string>20MW</string>
			<string>15MW</string>
			<string>10MW</string>
			<string>5MW</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>By 2020, we are going to reach the era of supercomputing at the ..</string>
		<key>Answers</key>
		<array>
			<string>Exascale</string>
			<string>Petascale</string>
			<string>Terascale</string>
			<string>Bugscale</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>

		<dict>
		<key>Question</key>
		<string>Intel’s 2018 Exascale Goal is: delivering one Exaflops in a power envelope of ..</string>
		<key>Answers</key>
		<array>
			<string>1 MW</string>
			<string>5 MW</string>
			<string>10 MW</string>
			<string>20 MW</string>
		</array>
		<key>Correct</key>
		<string>D</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>In January 2012, which company announced the creation of the world&apos;s smallest storage device (12-atom size) ?</string>
		<key>Answers</key>
		<array>
			<string>Cray</string>
			<string>IBM</string>
			<string>Intel</string>
			<string>Nvidia</string>
		</array>
		<key>Correct</key>
		<string>B</string>
		<key>Class</key>
		<integer>2</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    	<dict>
		<key>Question</key>
		<string>A supercomputer is a computer: </string>
		<key>Answers</key>
		<array>
			<string>As big as a house</string>
			<string>Worth $100 million</string>
			<string>With superpowers</string>
			<string>For scientists</string>
		</array>
		<key>Correct</key>
		<string>ABD</string>
		<key>Class</key>
		<integer>0</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>2</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>Mobile computing is doing computing with: </string>
		<key>Answers</key>
		<array>
			<string>A Smartphone</string>
			<string>An iPad</string>
			<string>A very light device</string>
			<string>A supercomputer</string>
		</array>
		<key>Correct</key>
		<string>ABC</string>
		<key>Class</key>
		<integer>0</integer>
		<key>Level</key>
		<integer>0</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>Supercomputers speed is measured as the number of floating-points operations per second or ... </string>
		<key>Answers</key>
		<array>
			<string>flops</string>
			<string>flips</string>
			<string>flaps</string>
			<string>flups</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>0</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>20</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>Supercomputers energy-efficiency or how "green" is a supercomputer is measured as a number of ... </string>
		<key>Answers</key>
		<array>
			<string>flops/watt</string>
			<string>flips/watt</string>
			<string>flaps/watt</string>
			<string>flups/watt</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>0</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>The Power Usage Effectiveness is a green metric to assess how green is a computing center. Its acronym is: </string>
		<key>Answers</key>
		<array>
			<string>UPE</string>
			<string>EUP</string>
			<string>PEU</string>
			<string>PUE</string>
		</array>
		<key>Correct</key>
		<string>D</string>
		<key>Class</key>
		<integer>0</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
	<dict>
		<key>Question</key>
		<string>PUE = (Power injected in the computing center) / (Power used by the IT equipement). What is the ideal PUE value ?</string>
		<key>Answers</key>
		<array>
			<string>0</string>
			<string>0.5</string>
			<string>1</string>
			<string>1.5</string>
		</array>
		<key>Correct</key>
		<string>C</string>
		<key>Class</key>
		<integer>0</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>PUE is a green metric that has been developed by ...</string>
		<key>Answers</key>
		<array>
			<string>The Green Grid</string>
			<string>The Giant Grid</string>
			<string>The GREEN500</string>
			<string>The Grid500</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>0</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>
    <dict>
		<key>Question</key>
		<string>In 2012, how many IBM data centers have been honored by the European Commission for their energy efficiency ?</string>
		<key>Answers</key>
		<array>
			<string>21</string>
			<string>1 million</string>
			<string>1 billion</string>
			<string>1 trillion</string>
		</array>
		<key>Correct</key>
		<string>A</string>
		<key>Class</key>
		<integer>0</integer>
		<key>Level</key>
		<integer>1</integer>
		<key>Points</key>
		<integer>1</integer>
		<key>Pay</key>
		<integer>0</integer>
		<key>Active</key>
		<true/>
	</dict>

    
</array>
</plist>
