<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Dummies</string>
		<key>Difficulties</key>
		<string>01</string>
		<key>Paylevels</key>
		<string>00</string>
		<key>Leaderboard</key>
		<string>com.beckersweet.hpcmap.quiz.kids</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Everyone</string>
		<key>Difficulties</key>
		<string>012</string>
		<key>Paylevels</key>
		<string>001</string>
		<key>Leaderboard</key>
		<string>com.beckersweet.hpcmap.quiz.teens</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Expert</string>
		<key>Difficulties</key>
		<string>012</string>
		<key>Paylevels</key>
		<string>111</string>
		<key>Leaderboard</key>
		<string>com.beckersweet.hpcmap.quiz.md</string>
	</dict>
</array>
</plist>
